<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account - MineClicker</title>
    <link rel="stylesheet" href="/css/style_create_account.css">

</head>
<body>
    <div class="container">
        <h1>Create Account</h1>
        <form id="createAccountForm">
            <input type="text" id="newUsername" placeholder="Username" required>
            <input type="email" id="email" placeholder="Email" required>
            <input type="password" id="newPassword" placeholder="Password" required>
            <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Create Account</button>
        </form>
        <p>Already have an account? <a href="login.html">Login here</a></p>
    </div>
    <script src="/js/create-account.js"></script>
</body>
</html>