<!DOCTYPE html>
<html lang="en">
<head>
    <script src="Buttons_Resources.js" defer></script> <!-- Ensure the JavaScript file includes the tiered system -->
    <link rel="stylesheet" href="Cakeclicker.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
   <div class="container">
      <div id="left" class="left">
         <h2>Buildings</h2>
         <div class="image-stack">
            <img class="area" src="Wheat Area v2.png" alt=" Wheat Area">
            <img class="area" src="Sugarcane Area v2.png" alt=" Sugarcane Area">
            <img class="area" src="Chicken Area v2.png" alt=" Chicken Area">
            <img class="area" src="Cow Area v2.png" alt=" Cow Area">
            <img class="area" src="Bakery Area v2.png" alt=" Bakery Area">
         </div>
      </div>
      <div id="middle" class="center">
         <div class="top">
            <button id="Options" onclick="OptionToggle()">
               <img src="Settings Button.png" alt="Settings">
           </button>
           <button id="Stats" onclick="StatsToggle()">
               <img src="Stats Button.png" alt="Stats">
            </button>
            <h2 contenteditable="true">Cake Shop</h2>
            <h2 id="cake">0 cakes</h2>
            <p id="cps">Cakes per second</p>
            <button id="cakeClicker" onclick="clickCake()">
              <img class="cake" src="Cake.png" alt="Cake">
            </button>
         </div>
         <div class="Social">
            <a href="https://www.instagram.com/cake.clicker/profilecard/?igsh=bmQzYXUybTNxMDJ4">
                <img src="Instagram Icon.png" alt="Instagram">
            </a> 
            <a href="https://www.tiktok.com/@cakeclicker3?is_from_webapp=1&sender_device=pc">
                <img src="Tik Tok Icon.png" alt="TikTok">
            </a>
         </div>
      </div>
      <div id="right" class="right">
         <h2>Upgrades</h2>
         <div class="top-right">
            <div class="Upgrades">
               <!-- Furnaces -->
               <button id="furnaceStandard"><img class="tier" src="standard_furnace.png" alt="Standard Furnace"></button>
               <button id="furnaceStone"><img class="tier" src="Copper Furnace v2.png" alt="Stone Furnace"></button>
               <button id="furnaceIron"><img class="tier" src="Iron Furnace v2.png" alt="Iron Furnace"></button>
               <button id="furnaceGold"><img class="tier" src="Gold Furnace v2.png" alt="Gold Furnace"></button>
               <button id="furnaceDiamond"><img class="tier" src="Diamond Furnace v2.png" alt="Diamond Furnace"></button>

               <!-- Milk Bottles -->
               <button id="milkStandard"><img class="tier" src="milk.png" alt="Standard Milk"></button>
               <button id="milkStone"><img class="tier" src="golden_milk.png" alt="Stone Milk"></button>
               <button id="milkIron"><img class="tier" src="strawberry_milk.png" alt="Iron Milk"></button>
               <button id="milkGold"><img class="tier" src="chocolate_milk.png" alt="Gold Milk"></button>
               <button id="milkDiamond"><img class="tier" src="golden_chocolate_milk.png" alt="Diamond Milk"></button>

               <!-- Water Buckets -->
               <button id="bucketStandard"><img class="tier" src="wooden_bucket.png" alt="Standard Bucket"></button>
                <button id="bucketStone"><img class="tier" src="stone_bucket.png" alt="Stone Bucket"></button>
                <button id="bucketIron"><img class="tier" src="iron_bucket.png" alt="Iron Bucket"></button>
                <button id="bucketGold"><img class="tier" src="gold_bucket.png" alt="Gold Bucket"></button>
               <button id="bucketDiamond"><img class="tier" src="diamond_bucket.png" alt="Diamond Bucket"></button>


               <!-- Hoes -->
               <button id="hoeStandard"><img class="tier" src="wooden_hoe.png" alt="Standard Hoe"></button>
               <button id="hoeStone"><img class="tier" src="stone_hoe.png" alt="Stone Hoe"></button>
               <button id="hoeIron"><img class="tier" src="iron_hoe.png" alt="Iron Hoe"></button>
               <button id="hoeGold"><img class="tier" src="golden_hoe.png" alt="Gold Hoe"></button>
               <button id="hoeDiamond"><img class="tier" src="diamond_hoe.png" alt="Diamond Hoe"></button>
            </div>
         </div>
         <h2>Store</h2>
         <div class="Buildings">
            <div class="image-container">
               <button id="CursorButton" onclick="clickCursor()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Click.png" alt="Click">
                      <p id="cursor" class="Item">0 Cursors</p>
                  </div>
               </button>
               <button id="farmersButton" onclick="clickFarmer()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Farmer.png" alt="Farmer">
                      <p id="farmer" class="Item">0 Farmers</p>
                  </div>
               </button>
               <button id="cowsButton" onclick="clickCow()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Cow.png" alt="Cow">
                      <p id="cow" class="Item">0 Cows</p>
                  </div>
               </button>
               <button id="chickensButton" onclick="clickChicken()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Chicken.png" alt="Chicken">
                      <p id="chicken" class="Item">0 Chickens</p>
                  </div>
               </button>
               <button id="sugarMastersButton" onclick="clickMaster()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Sugar Master.png" alt="Sugar Master">
                      <p id="sugar" class="Item">0 Sugar Masters</p>
                  </div>
               </button>
               <button id="bakersButton" onclick="clickBaker()">
                  <div class="store-wrapper" style="background-image: url('store_button.png');">
                      <img class="store" src="Baker.png" alt="Baker">
                      <p id="baker" class="Item">0 Bakers</p>
                  </div>
               </button>
            </div>
         </div>
      </div>
   </div>
</body>
</html>
